main {
  margin: 0 auto;

  @media screen and (min-width: 980px) {
    max-width: 1200px;
  }

  article {
    position: relative;
    padding-bottom: 0.5rem;
  }

  nav {
    margin-top: 2rem;
  }
}

header[role="banner"] {
  border-bottom: 1px solid #e4e4e4;
  padding: 1.5rem 2rem;

  .logo {
    img {
      transition: all 0.3s ease-out;
      margin: 0;
      width: 90%;

      @media screen and (min-width: 768px) {
        width: 100%;
      }

      &:hover {
        filter: contrast(140%);
      }
    }
  }

  &.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    ul {
      li {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.04rem;

        a {
          color: #666666;
          font-weight: 800;
        }
      }
    }
  }
}

nav {
  &.pagination {
    margin: 3rem 2rem;
    padding: 2rem 0;
    border-top: 1px solid #ddd;

    a {
      color: white;
      background-color: #406db6;
      font-size: 1.25rem;
      font-weight: 500;
      padding: 0.75rem 0.5rem;
    }
  }
}

footer {
  text-align: center;
  background-color: rgba(35, 158, 76, 0.05);
  margin-top: 2rem;
  padding: 4rem 1.5rem;

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.8;
    margin-bottom: 0.5rem;
  }

  p {
    color: #666;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .02rem;
  }
}

.post-footer {
  border-top: 1px solid #ddd;
  margin: 2rem;
  padding: 1.5rem 0;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  a {
    font-size: 1.15rem;
    background-color: rgba(76, 110, 168, 0.05);
    border: 1px solid #e4e4e4;
    padding: 0.5rem;
  }
}

article {
  header {
    margin: 0 auto;
  }

  .post-content {
    position: relative;

    h2 {
      color: #555555;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin: 3rem 2rem 1rem;
      width: auto;

      &:first-of-type {
        margin-top: 1rem;
      }

      @media screen and (min-width: 768px) {
        font-size: 1.75rem;
        margin: 2rem 4rem 1.5rem;
      }

      @media screen and (min-width: 980px) {
        max-width: 1200px;
        width: 640px;
        margin: 3rem auto 1.5rem;
      }
    }
    em {
      font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
      font-style: italic;
    }
  }

  &.post {
    font-size: 1.205em;
    margin-top: 2rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }

    .post-date {
      color: #aaaaaa;
      font-size: 0.85rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.08rem;
      margin-bottom: 0.15rem;
    }
  }

  a:hover {
    color: #000000;
  }

  h1 {
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    letter-spacing: -0.08rem;
  }

  h2 {
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: -0.08rem;

    a {
      color: #444;
    }
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 600;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.75rem;
  }

  p,
  pre,
  ul,
  blockquote p,
  figcaption {
    margin: 1.25rem 2rem 1.75rem;
    width: auto;

    @media screen and (min-width: 768px) {
      margin: 1.25rem 4rem 1.75rem;
    }

    @media screen and (min-width: 980px) {
      max-width: 1200px;
      width: 640px;
      margin: 1.25rem auto 1.75rem;
    }
  }

  header {
    margin: 0 2rem 0;
    width: auto;

    @media screen and (min-width: 768px) {
      margin: 0rem 4rem 0;
    }

    @media screen and (min-width: 980px) {
      max-width: 1200px;
      width: 640px;
      margin: 1.25rem auto 1.75rem;
    }
  }

  blockquote {
    margin: 0.5rem auto 1rem;

    p {
      font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
      font-style: italic;
      color: #555;
      font-size: 1.3rem;
      border-left: 6px solid rgba(35, 158, 76, 0.1);
      padding-left: 1.5rem;
      padding-right: 1rem;

      em {
        color: #333;
        background-color: rgba(255, 238, 0, 0.2);
      }
    }
  }

  .post {
    h2 {
      margin-top: 0;
    }
  }
}

.bannerImage {

  &.kalye {
    border-left: 1px solid #999;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  figcaption {
    margin-top: 0;
    border-left: 4px solid #dddddd;
    padding-left: 2rem;

    p {
      color: #777;
      letter-spacing: -0.02rem;
      margin: 0 0 0.5rem;
      padding-left: 0;

      &.caption {
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
      }

      &.postdate {
        font-size: 0.88rem;
        text-transform: uppercase;
      }
    }
  }

  blockquote {
    margin-top: 1rem;
    p {
      border-left: 0;
      font-size: 1rem;
    }
  }
}

img {
  max-width: 100%;
  margin: 0.5rem auto;

  @media screen and (min-width: 768px) {
    margin: 1.25rem auto;
  }

  &.east {
    display: block;
    @media screen and (min-width: 768px) {
      float: right;
      padding-left: 2rem;
      padding-right: 1rem;
      margin: 0.5rem 3rem 1rem auto;
    }
  }

  &.west {
    float: left;
    padding-right: 3%;
    margin: 0.5rem auto;
  }
}

.fin {
  color: #00954d;
  font-size: 2.1rem;
  line-height: 1;
  margin-top: 0;
}
