main {
  margin: 0 auto;

  @media screen and (min-width: 980px) {
    max-width: 60%;
    padding: 0 1rem;
  }

  article {
    position: relative;
    padding-bottom: 0.5rem;
  }

  nav {
    margin-top: 2rem;
  }
}

header[role="banner"] {
  border-bottom: 1px solid #e4e4e4;
  padding: 1.5rem 2rem;

  .logo {
    img {
      margin: 0;
    }
  }

  &.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    ul {
      li {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
}

nav {
  &.pagination {
    margin: 3rem auto;
    padding-top: 2rem;
    border-top: 1px solid #ddd;

    a {
      color: white;
      background-color: #406db6;
      font-size: 1.25rem;
      font-weight: 500;
      padding: 0.75rem 0.5rem;
    }
  }
}

footer {
  text-align: center;
  background-color: rgba(35, 158, 76, 0.05);
  margin-top: 3rem;
  padding: 4rem 1.5rem;

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.8;
    margin-bottom: .5rem;
  }

  p {
    color: #666;
    font-size: 0.9rem;
  }
}

.post-footer {
  border-top: 1px solid #ddd;
  margin: 2rem 1.5rem;
  padding: 1.5rem 0;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  a {
    font-size: 1.15rem;
    background-color: rgba(76, 110, 168, 0.05);
    border: 1px solid #e4e4e4;
    padding: 0.5rem;
  }
}

article {
  header {
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      width: 80%;
    }

    @media screen and (min-width: 980px) {
      width: 64%;
    }
  }

  &.post {
    font-size: 1.205em;
    margin-top: 6rem;

    .post-date {
      color: #aaaaaa;
      font-size: 0.85rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.08rem;
      margin-bottom: 0.15rem;
    }
  }

  a:hover {
    color: #000000;
  }

  h1 {
    font-weight: 600;
    margin: 0;
    letter-spacing: -0.02rem;
  }

  h2 {
    line-height: 1.4;
    font-weight: 600;

    a {
      color: #444;
    }
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 600;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.75rem;
  }

  p,
  pre,
  ul {
    margin: 1.25rem auto 1.75rem;

    @media screen and (min-width: 768px) {
      width: 80%;
    }
    @media screen and (min-width: 980px) {
      width: 64%;
    }
  }

  blockquote {
    margin: 0.5rem auto 1rem;

    p {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-style: italic;
      color: #555;
      font-size: 1.2rem;

      @media screen and (min-width: 768px) {
        width: 80%;
        margin: 0 auto;
      }

      @media screen and (min-width: 980px) {
        width: 64%;
      }
    }
  }

  .post {
    h2 {
      margin-top: 0;
    }
  }
}

img {
  max-width: 100%;
  margin: 1.25rem auto;

  &.east {
    float: right;
    padding-left: 3%;
  }
  &.west {
    float: left;
    padding-right: 3%;
  }
}
