@import "reset.scss";
@import "layout.scss";
@import "article.scss";

html {
  font-size: 1em;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #222;
  background-color: #f9f9fa;
  line-height: 1.6;
  line-break: strict;
  text-rendering: optimizeLegibility;
}

a {
  color: #4c6ea8;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1 {
  font-size: 4rem;
  @media screen and (min-width: 760px) {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.2rem;
  @media screen and (min-width: 760px) {
    font-size: 3rem;
  }

  a {
    font-weight: 500;
  }
}

p,
ul {
  margin: 0.5em 0;
  font-size: 1.12rem;

  @media screen and (min-width: 760px) {
    font-size: 1.34rem;
  }
}

strong {
  font-weight: 600;
}

pre {
  font-family: "Monaco", monospace;
  font-size: 14px;
  padding: 1rem;
  margin: 1.5rem auto;
  overflow: auto;
}

.Background {
  &--eden-green {
    background-color: #68b900;
  }
}
