@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@import "reset.scss";
@import "layout.scss";
@import "article.scss";
@import "main.scss";

html {
  font-size: 1em;
}

body {
  font-family: "Poppins", "Lucida Grande", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #282828;
  background-color: #f6f3ea;
  line-height: 1.6;
  line-break: strict;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #4c6ea8;
  text-decoration: none;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.4;
}

h1 {
  font-size: 2.1rem;

  @media screen and (min-width: 760px) {
    font-size: 2.4rem;
  }
}

h2 {
  font-size: 2.1rem;

  @media screen and (min-width: 760px) {
    font-size: 2.4rem;
  }
}

p,
ul {
  margin: 0.5em 0;
  font-size: 1.12rem;

  @media screen and (min-width: 760px) {
    font-size: 1.1rem;
  }
}

strong,
b {
  font-weight: 600;
}

iframe {
  width: 100%;
  max-width: 100%;
}

pre {
  font-family: "JetBrains Mono", "Menlo", monospace;
  font-size: 14px;
  padding: 1rem;
  margin: 1.5rem auto;
  overflow: auto;
}

code {
  font-family: "JetBrains Mono", "Menlo", monospace;
}

.Background {
  &--eden-green {
    background-color: #68b900;
  }
}
