<div class="bannerImage kalye">
    <figure>
        <img
        src="/images/{{ page.slug }}/{{ img }}.jpg"
        alt="{% if alt %}{{ imgDesc }}{% endif %}">
        <figcaption>
            <p class="caption">{{ imgCaption }}</p>
            <p class="postdate">{{ imgDate }}</p>
            {% if quote %}
            <blockquote>
                <p>
                    {{ imgQuote }}
                </p>
            </blockquote>
            {% endif %}
        </figcaption>
    </figure>
</div>