{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-246916-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-246916-5');
    </script>

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
    {% endif %}

    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) }}">
    {% endblock css %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    <header class="topNav" role="banner">
        <div class="logo">
            <a href="/">
                <img src="/images/logo-text-mark-pixeleden.svg" alt="logo of PixelEden">
            </a>
        </div>
    </header>

    {% block content %}

    <main class="gridy">
        {% for page in paginator.pages %}
        <div class="post card">

            {% if page.extra.cover_image %}
            <div class="cover">
                <a href="{{ page.permalink }}">
                    <img src="/{{ page.slug }}/{{ page.extra.cover_image }}" alt="{{ page.extra.alt_text }}">
                </a>
            </div>
            {% endif %}
            <div class="blurb">
                {{ post_macros::title(page=page) }}
                <div class="summary">
                    <p>{{ page.description | safe }}
                        <p class="fin">&#10046;</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </main>
    <nav class="pagination">
            {% if paginator.previous %}
            <div class="previous">
                <a href="{{ paginator.previous }}">
                    <span>&#60;</span> <span>Previous<span>
                </a>
            </div>
            {% endif %}
            {% if paginator.next  %}
            <div class="next">
                <a href="{{ paginator.next }}">
                    <span>Next</span> <span>&#62;</span>
                </a>
            </div>
            {% endif %}
        </nav>
    {% endblock content %}

    {% block footer %}
    <footer>
        <a href="/">
            <img src="/images/pixeleaf.svg" alt="logo of PixelEden">
        </a>
        <p>
            &copy; 2025 Pixeleden by
            <a href="https://allanrey.es">Allan Reyes</a>.
            Dispatched from <b>Madrid, Spain.</b> Hosted by <a href="https://netlify.com">Netlify</a>.

        </p>
    </footer>
    {% endblock footer %}

    {% block js_body %}
    {% endblock js_body %}
</body>

</html>

